@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

h1 {
  font-size: 45px;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}
main {
  align-content: center;
  box-sizing: border-box;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  text-align: center;
  background-color: #daf1e6;
  padding-top: 20px;
  padding-bottom: 170px;
}
main p {
  display: inline-block;
  width: 20%;
  height: 190px;
  padding: 61px;
  text-align: center;
  box-sizing: border-box;
  font-size: 50px;
  vertical-align: middle;
  margin: 20px;
  cursor: pointer;
  color: #FFF;
  border-radius: 15px;
  box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.5);
  font-family: 'Sansita Swashed', cursive;
}

main#home p:hover {
  transform: rotate(-3deg);
}
main p.seen {
  transform: rotate(-3deg);
}
main p.seen>span {
  background: #FFF;
  display: block;
  border-radius: 80px;
  padding: 11px 8px;
  color: #00c7ab;
  font-size: 28px;
}

#randCt {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background: #c7f5bc;
  padding: 30px 0;
  box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.5);
}

button#random {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  font-size: 30px;
  font-family: 'Sansita Swashed', cursive;
  cursor: pointer;
  border: none;
  border: 7px solid #FFFF;
  background: #73d45b;
  color: #FFF;
  border-radius: 20vh;
  z-index: 100;
  outline: none;
  box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.5);
}

button#random:hover {
  border-color: #73d45b;
  background: #FFF;
  color: #73d45b;
}

#playCt {
  position: fixed;
  width: 96%;
  height: 96%;
  top: 2%;
  left: 2%;
  z-index: 200;
  border: 2px #777 solid;
  background: #111;
  border-radius: 5px;
}

#playCt>button {
  position: absolute;
  right: 20px;
  border: none;
  background: none;
  font-size: 24px;
  padding: 12px;
  color: #CCC;
  cursor: pointer;
}

#playCt>div {
  height: 100%;
}

#playCt iframe {
  width: 100%;
  height: 100%;
}

#adminCt iframe {
    width: 100%;
    height: 100%;
}

#adminCt span {
  display: block;
}

#adminCt input {
  padding: 4px;
  margin-bottom : 8px;
  width: 80%;
  color: #444;
  text-align: center;
}

main#adminCt>div {
  display: inline-block;
  width: 18%;
  height: auto;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  background: none;
  margin: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.5);
  margin: 1%;
}

main#adminCt p:hover {
  background: none;
}

#reset {
  margin-top: 8px;
  padding: 3px;
}